.map-btn-container {
    position: absolute;
    bottom: 35px;
    right: 10px;
    z-index: 200;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: flex-end;

    background-color: #e6e6e6;
    border-radius: 8px;
    padding: 5px;
}

.map-btn {
    cursor: pointer;

    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 5px 8px;
    outline: none;
    border: 1px solid rgb(180, 180, 180);
}

.map-btn:hover,
.map-btn:focus {
    outline: 3px solid #005eff;
    background-color: #f4f4f4;
    cursor: pointer;
}

.map-btn-measure {
    background-color: #ffecec;

    z-index: 1000;
}