.map-btn {
    position: absolute;
    bottom: 30px;
    right: 0;
    z-index: 200;
    cursor: pointer;

    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #ffffff;
    margin: 10px 10px;
    border-radius: 8px;
    padding: 10px 10px;
    outline: none;
    border: 1px solid rgb(180, 180, 180);
}

.map-btn:hover,
.map-btn:focus {
    outline: 3px solid #005eff;
    background-color: #f4f4f4;
    cursor: pointer;
}